{% extends "base.html" %}

{% block app_content %}
<div class="container mt-3">
        <div class="text-center">
            <!--
            <p class="lead">Esta web ha sido creada como Trabajo Final de Grado de Ingeniería para LaSalle Barcelona. No habrá actualizaciones en un futuro próximo.</p>
            <p class="lead">El repositorio del proyecto se puede encontrar en mi Github.</p>
            <hr>
            <p class="lead">Puedes encontrar mi contacto en los siguientes sitios web:</p>
            -->
            <p class="lead">This web has been created as the Final Thesis of engineering for LaSalle Barcelona. There will be no updates in a near future</p>
            <p class="lead">You can find the repository for the project in my Github.</p>
            <hr>
            <p class="lead">You can find my contact on the following websites:</p>

            <div class="row">
                <div class="col">
                    <a class="navbar-brand text-white"  href="https://www.linkedin.com/in/a-monux-bernal/">
                        <img class=" offset-sm-4" src="https://upload.wikimedia.org/wikipedia/commons/0/01/LinkedIn_Logo.svg" alt="Linkedin logo" width="280">
                    </a>
                </div>
                <div class="col">
                    <a class="navbar-brand text-white"  href="https://github.com/alejandromonux">
                        <img class="" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="Github logo" width="100" >
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}