{% extends "base.html" %}

{% block app_content %}
{% from 'bootstrap4/form.html' import render_form_row %}

            <h1 class="text-center mt-2">Clickbait Detection</h1>
            <h3 class="text-center">Is your video sensationalist?</h3>

            <form class="align-self-center col-xs-4" action="" method="post">
                    {{ form.csrf_token() }}
                <div class="container form-group ">
                  <!-- <input type="email" class="form-control " id="videoURL" placeholder="Introduce la url"> -->
                  <!-- {{ form.videoId(class="form-control",id="videoId", placeholder="Introduce la url",maxlength="100") }}-->
                    {{ form.videoId(class="form-control",id="videoId", placeholder="Introduce the url",maxlength="100") }}
                    <div class="row align-items-center">
                    <div class="col"></div>
                    <div class="mt-2 col offset-sm-1">
                        <!-- <button type="submit" class="btn btn-danger align-self-center ">Analiza el video</button> -->
                        {{form.submit(class="btn btn-danger align-self-center ")}}
                    </div>
                    <div class="col"></div>
                </div>
                </div>
            </form>

            <!-- <div class="container mt-4 text-color-">Análisis recientes</div> -->
            <div class="container mt-4 text-color-">Recent Analysis</div>
            <div class="container" style="overflow-y:auto;height: 400px;">
                {% if lastRevisions %}
                {% for revision in lastRevisions %}
                <div class="container" >
                    <div class="row mt-1 mb-1 border rounded"style="background-color: lightgrey">
                        <div class="col-sm-3">
                            <div class="mt-1 mb-1">
                                <img src={{ revision.thumbnail }}
                                class="img-thumbnail"
                                alt="Youtube thumbnail">
                            </div>
                        </div>
                        <div class="col-sm-7 d-block">
                            <div class="col text-truncate ">
                                <p>{{revision.title}}
                                </p>
                            </div>
                            <div class="col overflow-auto">
                                <p>Uploader: {{revision.author}} -- Views: {{revision.views}} -- Likes: {{revision.likes}} </p>

                            </div>
                        </div>
                        <div class="col-sm-1 d-flex align-items-center">
                            <form>
                                    {% if revision.rating == 0 %}
                                        <button type="button" class="btn btn-danger">Clickbait</button>
                                    {% else %}
                                        <button type="button" class="btn btn-success">No Clickbait</button>
                                    {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <div class="container " >
                        <div class="mt-1 mb-1 border rounded text-center"style="background-color: lightgrey">
                               <p class="lead">No recent Analysis</p>
                        </div>
                    </div>
                {% endif %}
            </div>
{% endblock %}